.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffd0d0;
}

.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
  color: #ff8080;
}

.TodoItem .date {
  color: #ffbdbd;
  font-size: 14px;
}

.TodoItem button {
  cursor: pointer;
  color: #ff8080;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
